<!DOCTYPE html>
<html ng-app="todoList">
  <head>
    <meta charset="utf-8">
    <title>angular todolist</title>
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
  </head>
  <body ng-controller="TaskCtrl" style="padding:20px;">
    <div class="input-group">
      <input ng-model="task" type="text"  class="form-control">
      <span class="input-group-btn">
        <button type="button" name="button" class="btn btn-default" ng-click="add()">Submit</button>
      </span>
    </div>
    <h4 ng-if="tasks.length>0">Todo List</h4>
    <ul class="list-group">
      <li ng-repeat="item in tasks track by $index" class="list-group-item">{{item}}
        <a ng-click="tasks.splice($index,1)">Delete</a>
      </li>
    </ul>
  </body>
  <script src="js/lib/angular.min.js"></script>

  <script>
    angular.module('todoList',[]).controller('TaskCtrl',function($scope){
      $scope.task = "";
      $scope.tasks = [];
      $scope.add = function(){
        $scope.tasks.push($scope.task)
      }
    })
  </script>
</html>
